body {
    background: #fff;
    color: #111;
    font-family: Arial, sans-serif;
}
main {
    padding-top: 1px;
    background: #fff;
}
h1, h2, h3 {
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    margin-bottom: 14px;
}

