body{
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: rgb(219, 236, 231);
}
.container{
    width: 50%;
    margin: 0 auto;
}

a{
    color:black;
}
.about-me{
    display: flex;
    margin-left: 200px;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 200px;
    padding: 10px;
    background-color: rgb(24, 206, 27);
    border-color:  rgb(24, 206, 27);

}

img{
    margin-left: 20px;
}

.nav-li{
    list-style-type: none;
    margin-left: 30px;
    align-items: center;
}
.nav-ul{
    display: flex;
    margin-left: 230px
}
h1, h2, h3{
    text-align: center;
}
li{
    list-style-type: none;
    margin-left: 20px;
}
ul{
    display: flex;
}